[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdtreetabs"]
	path = bundle/nerdtreetabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
